@charset "UTF-08";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F720C5, #784C6E);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #440b378f;
}

h1{
    color: #CD3DAB;
    text-align: center;
    color: #332B31;
    text-shadow: 1px 1px 3px #d31fa959;
}

h2{
    color: #4D3E4A;
}

p{
    color: #A24B8E;
    text-align: justify;
}
